* {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
}

body {
	background-color: #D9D9D9;
	margin: 0px;
}

.topheader {
	position: relative;
	background-color: #EE0404;
	height: 132px;
	left: 0px;
	top: 0px;
}

.content-table table,
.content-table th,
.content-table td {
	border: 1px solid black;
}

.content-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: white;
}

.content-table thead tr {
	background-color: red;
	color: white;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td {
	padding: 12px 15px;
}

.content-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

/*Removing the underline from the "Actions" field */
.content-table tbody tr:first-child td:nth-child(4) a {
   text-decoration: none;
}

.createPage {
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	max-width: 650px;
	height: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	padding: 28px;
	margin: 0 28px;
	background-color: white;
	border-radius: 50px;
}

.container h2 {
	font-size: 20px;
	text-align: center;
}

.form-title{
	font-size: 36px;
	font-weight: 600;
	line-height: 60px;
	text-align: center;
	padding-bottom: 6px;
	border-bottom: solid 1px grey;
}

.info{
	display: flex;
	justify-content: center;
	padding: 20px 0;
}	

.info input{
	background-color: #D9D9D9;
	border-radius: 50px;
	border-style: solid;
	text-indent: 10px;
}

input::placeholder {
    color: #949090;
}

.form-submit-btn{
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.form-submit-btn input{
	width: 150px;
	font-size: 20px;
	padding: 3px;
	border: none;
	border-radius: 50px;
	color: white;
	background-color: red;	
}